html {
  margin: 100;
  padding: 100;
}

canvas {
  display: block;
}

h2, h3 {
  color:chocolate;
  border: 2px solid grey;
  font-style: italic;
  font-family: 'Segoe UI';
  text-align: center;
}

h4 {
  color: whitesmoke;
  padding: 30px;
  border: 8px solid goldenrod;
  font-family: 'Franklin Gothic Medium';
  text-align: center;
}

#heading {
  background-color: blanchedalmond;
  color: black;
  padding: 40px;
  text-align: center;
  font-family:'Times New Roman';
}

.closing {
  background-color: blanchedalmond;
  color: black;
  padding: 60px;
  text-align: center;
  font-family: 'Gill Sans';
}

#video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

button {
  background-color: grey;
  color: maroon;
  font-family: 'Courier New';
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin: 5px;
}
button:hover {
  background-color: white;
}

volText {
  background-color: grey;
  color: maroon;
  font-family: 'Courier New';
  padding: 10px 20px;
  border: none;
  margin: 5px;
}


body {
  background-color: black;
}

a {
  background-color: maroon;
  color: whitesmoke;
  text-align: center;
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  width: fit-content;      /* allows for the bar of colour to only cover the text and not the whole line */
}

ol {
  padding: 0;
  list-style-position: inside; /* removes list outside of border, whilst still giving the list effect going down */
}

li {
  background-color: darkred;
  color: silver;
  font-family: 'Trebuchet MS';
  padding: 10px 20px;
  border: none;
  margin: 5px;
  display: flex; /* removes numbers allowing list format without */
  align-items: center; /* center the text */
  justify-content: center; /* Horizontally center the text without numbers, specifically */

}  

@media screen and (-webkit-min-device-pixel-ratio:0) {        /* sample edited from https://stackoverflow.com/questions/18389224/how-to-style-html5-range-input-to-have-different-color-before-and-after-slider */
  input[type='range'] {
    overflow: hidden;
    width: 140px;
    -webkit-appearance: none;
    background-color: maroon;
  }
  
  input[type='range']::-webkit-slider-runnable-track {
    height: 10px;
    -webkit-appearance: none;
    color: darkorange;
    margin-top: -1px;
  }
  
  input[type='range']::-webkit-slider-thumb {
    width: 10px;
    -webkit-appearance: none;
    height: 10px;
    cursor: ew-resize;
    background: silver;
    box-shadow: -80px 0 0 80px darkorange;
  }
}  
